version: 2

updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️ actions"
    labels:
      - dependencies
      - actions

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️ gradle"
    labels:
      - dependencies
      - gradle

  - package-ecosystem: "gradle"
    directory: "/buildSrc"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️ gradle (buildSrc)"
    labels:
      - dependencies
      - buildSrc

  - package-ecosystem: "bundler"
    directory: "/site"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "⬆️ bundler"
    labels:
      - dependencies
      - jekyll
