---
layout: archive
---

{% assign current_year = page.date | date: "%Y" %}
{% assign year_posts = site.posts | where: "date", page.date %}

<h2 class="archive__subtitle">Posts from {{ current_year }}</h2>

{% assign year_posts = site.posts | where_exp: "post", "post.date contains current_year" %}
{% if year_posts.size > 0 %}
    {% for post in year_posts %}
        {% include archive-single.html %}
    {% endfor %}
{% else %}
    <p><em>No posts found for {{ current_year }}.</em></p>
{% endif %}
