name: GitHub Prune Actions Cache
run-name: "Pruned Old Action Run Caches on ${{ github.repository }} by ${{ github.actor }} with ${{ github.event_name }} (Attempt ${{ github.run_attempt }})"
#.github/workflows/github-cache-prune.yml

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
  create:
    branches:
      - '[0-9]*-*'
  pull_request:
    types:
      - opened
      - reopened
      - closed


concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-cache-prune"
  cancel-in-progress: true

permissions:
  contents: write
  actions: write

defaults:
  run:
    shell: zsh -l {0}

jobs:

  prune-actions-cache:
    timeout-minutes: 7
    runs-on: self-hosted
    name: "Prune GitHub Actions Cache"

    steps:

      - name: "Checkout repository source code"
        uses: actions/checkout@v5.0.1
        timeout-minutes: 1


      - name: "Install GitHub Actions Cache Extension"
        run: |
          gh extension install actions/gh-actions-cache
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: "Prune Older Cache Keys (Keep minutes old)"
        continue-on-error: true
        timeout-minutes: 5
        run: ./src/main/sh/clean-workflow-run-caches.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
