name: Security Scan by Qodana
run-name: "Executed Security Scan by Qodana on ${{ github.repository }} by ${{ github.actor }} with ${{ github.event_name }} (Attempt ${{ github.run_attempt }})"
#.github/workflows/security-scan-by-qodana.yml
#.github/qodana.yaml

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:
  pull_request:
    types:
      - opened
      - reopened
      - closed
  schedule:
    - cron: '19 15 3 * *'

permissions:
  contents: write
  pull-requests: write
  checks: write

defaults:
  run:
    shell: zsh -l {0}

jobs:
  qodana-scan:
    runs-on: [self-hosted, qodana]
    timeout-minutes: 77

    steps:

      - name: Checkout full repository
        uses: actions/checkout@v6.0.1
        timeout-minutes: 3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0


      - name: Run Qodana Scan (PR-mode enabled)
        uses: JetBrains/qodana-action@v2025.2.2
        timeout-minutes: 75
        with:
          pr-mode: true
        env:
          QODANA_PROJECT_TOKEN: ${{ secrets.QODANA_PROJECT_TOKEN }}
          QODANA_TOKEN: ${{ secrets.QODANA_PROJECT_TOKEN }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
