name: Security Scan by Codacy
run-name: "Executed Security Scan by Codacy on ${{ github.repository }} by ${{ github.actor }} with ${{ github.event_name }} (Attempt ${{ github.run_attempt }})"

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:
  pull_request:
    types:
      - opened
      - reopened
      - closed
  schedule:
    - cron: '17 11 1 * *'

permissions:
  contents: read
  actions: read
  security-events: write

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-codacy"
  cancel-in-progress: true

defaults:
  run:
    shell: zsh -l {0}

jobs:

  code-security-scan-with-codacy:
    timeout-minutes: 27
    runs-on: [self-hosted, codacy]
    name: "Codacy Security Scan with Publishing"

    steps:

      - name: "Checkout repository source code"
        uses: actions/checkout@v6.0.1
        timeout-minutes: 3


      - name: "Codacy Scan and Analysis"
        uses: codacy/codacy-analysis-cli-action@v4.4.7
        timeout-minutes: 27
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          gh-code-scanning-compat: true
          max-allowed-issues: 999
          upload: true
          force-file-permissions: true
